$cell-width: 70px;


// element which holds runner information
.runner-card {
    background-color: rgba(255, 230, 230, 0.8);

    position: relative;
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    justify-content: start;

    grid-template-areas:
        "r_header r_header"
        "r_graph r_table";

    // generic grid element within runner card
    .runner-component {
        align-self: center;
        justify-self: center;

        // title element
        &.runner-title {
            grid-area: r_header;

            display: grid;
            justify-self: stretch;

            // make sure text is centered horizontally and vertically
            // justify-content: center;
            // align-items: center;


            // set background for entire element
            background: lightgreen;
        }

        &.runner-price-chart {
            grid-area: r_graph;
            position: relative;
        }

        &.runner-table-container {
            grid-area: r_table;
            justify-self: stretch;
            align-self: start;

            tbody {
                td {
                    min-width: $cell-width;
                    width: $cell-width;
                    max-width: $cell-width;
                    font-size: 11px;

                }
                tr {
                    height: 8px;
                    padding: 0;
                }
            }
        }

    }

};